---
layout: archive
title: "Gallary"
permalink: /portfolio/
author_profile: true
---

<p>
  Spending my free time observing birds and other wildlife has become a fulfilling hobby for me. Though I’m still a beginner, every outing brings new discoveries and opportunities to learn. You can follow my journey on <a href="https://ebird.org/profile/Mjg4NTIxOA" target="_blank">eBird</a> and <a href="https://www.inaturalist.org/people/4799373" target="_blank">iNaturalist</a>, where I share my observations.
</p>
{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single-talk.html %}
{% endfor %}

